*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 30px;
}
body{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    transition: .4s ease;
    text-decoration: none;
}
.center-text{
    text-align: center;
}
.flex{
    display: flex;
}
.space{
    justify-content: space-between;
}
.a-center{
    align-items: center;
}
.j-center{
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.color{
    color: #ff4000 !important;
}
header{
    padding: 20px 40px;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 9000;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.11);
}

nav{
    gap: 20px;
}
nav a{
    color: black;
    font-size: 16px;
    display: inline-block;
    height: fit-content;
    position: relative;
    text-decoration: none;
    transition: .4s ease;
}
nav a:after{
    position: absolute;
    content: '';
    width: 00%;
    height: 2px;
    background-color: black;
    left:  0;
    bottom: -2px;
    transition: .4s ease;
}
nav a.active,
nav s:hover{
    color: #ff4000;
}

nav a.active::after,
nav a:hover::after{
    width: 100%;
}
.hamburger{
    font-size: 18px;
    font-weight: 900;
    display: none;
    cursor: pointer;
    position: absolute;
    left: 40px;
}
.quick-actions{
    background-color: white;
    padding: 10px 20px;
    color: #717375;
}
.quick-actions a{
    color: #717375;
    font-size: 12px;
}
.gap{
    gap: 20px;
}
.quick-actions select{
    border: none;
    font-size: 12px;
    cursor: pointer;
    color: #a7b0ba;
}
.hero-section{
    background-image: url('../img/images.jpeg');
    height: 800px;
    width: 100%;
    background-size: cover;
    z-index: 1;
    position: relative;

}
.hero-section::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    z-index: -1;
    bottom: 0;
    background-color: rgba(65,73,89,.65);
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.hero-section h1{
    color: white;
    font-size: 40px;
    padding-top: 140px;
    margin-bottom: 30px;
}
.hero-section p{
    color: white;

}
.form-container{
    margin-top: 100px;
    gap: 20px;
    flex-wrap: wrap;

}
.single-form-container{
    border-radius: 4px;
    flex-wrap: wrap;

}
.single-form{
    gap: 10px;
    align-items: center;
    padding:  0 20px;
     height: 70px;
    background-color: white;
}
.single-form input{
    border: none;
    outline: none;
    width: 300px;
}
.single-form p{
    color: black;
}
.single-button{
    background-color: #ff4000;
    border: none;
    height: 70px;
    padding: 0px 40px; 
    color: white;
}
.flex-d{
    display: flex;
    flex-direction: column;
}
.box{
    background-color: white;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    min-width: 200px;
    margin: 10px;
    max-width: 90%;
    transition: .4s ease;
}
.box p{
    font-size: 12px;
    color: #a7b0ba;
}
.box h3{
    font-weight: 500;
}
.translate{
    transform: translateY(-50%);
    z-index: 2;
    position: relative;
    flex-wrap: wrap;
}
.box:hover{
    background-color: #ff4000;
    color: white;
}
.box:hover p{ 
    color: white;
}
.section-title{
    margin: 50px 0;
}
.section-title h3{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
}
.section-title p{
    color: #717375;
}
.box-2{
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
    padding: 40px 20px ;
    margin: 10px;
    transition: .4s ease;
    border-radius: 4px ;
}
.icon{
    background-color: #eef2f6;
    width: fit-content;
    margin: 0 auto;
    height: 60px;
    width: 60px;
    border-radius: 60px ;
    color: blacka;
    margin-bottom: 30px;
}
.box-2 h4{
    margin-bottom: 30px;
    font-weight: 500;
}
.box-2 p{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.rect-link{
    padding: 5px 10px;
    border: 1px solid #a7b0ba;
    margin-top: 20px;
    display: inline-block;
    border-radius: 4px;
    width: fit-content;
    font-size: 14px;
    background-color: white;
}
.box-2:hover {
    background-color: #ff4000;
    color: white;
}
.box-2:hover .rect-link{
    color: #ff4000;
}
.box-2:hover .icon{
    color: black;
}
.explore-section{
    background-color: #f8fafb;
}
.card{
    background-color: white;
    flex: 0 0 30%;
    box-shadow:  0 0  16px rgba(0,0,0,.1);
    margin: 10px;
    transition: .4s ease;
    max-width: 90%;
    min-width: 300px;
}
.thumbnail{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.absolute{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    padding: 10px;
    opacity: 0;
    transition: .8s ease;
}
.card:hover{
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.41);
}
.card:hover .absolute{
    transform: none;
    opacity: 1;
}
.best{
    color: white  !important;
    background-color: steelblue;
    padding: 3px 10px;
    border-radius: 2px;
    height: fit-content;
    font-size: 12px;
}
.ex-actions{
    gap: 10px;
}
.ex-actions i{
    background-color: black;
    padding: 10px;
    color: white;
    transition: .3s ease;
    font-size: 12px;
}
.ex-actions i:hover{
    color: blue;
}
.content{
    padding: 30px 10px;
}
.rating{
    background-color: tomato;
    padding: 3px 4px;
    color: white !important;

}
.ex-decript{
    gap: 20px;
    margin: 15px 0;
}
.rate{
    gap: 10px;
}
.card p{
    font-size: 12px;
    color: #717375;
}
.txt{
    font-size: 16px;
    line-height: 1.6;
}
.card hr{
    margin: 30px 0;
}
.diss{
    font-size: 12px;
    margin-top: 20px;
}
.diss i{
    transition: .4s ease;
}
.diss i:hover{
    color: #ff4000;
}
.testimonial-container{
    width: 500px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}
.testimonial-slider{
    transition: .8s ease;
}
.testimonial{
    background-color: white;
    min-width: 100%;
    padding: 50px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
}
.img-box{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    overflow: hidden;
    border: 3px solid #a7b0ba;
}
.img-box img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}
.testimonial p{
    font-size: 12px;
    line-height: 1.5;
}
.pad{
    padding: 20px;
    min-width: 100%;
}
.dot-container{
    gap: 10px;
    margin: 0 auto;
}
.dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #a7b0ba;
    cursor: pointer;
}
.dot.active{
    background-color: #717375;
}
.next,.prev{
    display: none;
}
.counter{
    padding: 150px 100px;
    background-position: center;
    background-image: url('../img/counter-banner.jpg');
    background-size: cover;
    color: white;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    margin: 80px 0;
}
.counter::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    z-index: -1;
    left: 0;
    background-color: rgba(65,73,89,.65);
}
.counter .flex{
    gap: 40px;
}
.counter h2{
    font-size: 50px;
    font-weight:500 ;
}
.counter h3{
    font-size: 16px;
}
.news{
    padding: 20px;
}
.news a{
    color: black;
    margin-bottom: 15px;
    display: inline-block;
}
.news p{
    line-height: 1.5;
}
.contact-section{
    background-color: #eef2f6;
    padding: 150px 30px;
}
.posted{
    margin-right:20px;
}
.news p:last-child{
    font-size: 14px;
}
.card:hover .title{
    color: #ff4000;
}
.blog-section{
    padding: 80px 0;
}

form{
    transition: .4s ease;
    width: fit-content;
}
form:hover{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.31);
}
form input{
    border: 0;
    transition: .4s ease;
    outline: 0;
    padding: 20px;
    width: 400px;
}
form button{
    color: white;
    background-color: #ff4000;
    transition: .4s ease;
    border: none;
    width: fit-content;
    padding: 20px;
    
}
.footer{
    padding: 30px 20px;
}
.links a{
    color: #717375;
}
.links a:hover{
    color: #ff4000;
}
.footer hr{
    margin-top: 55px ;
    color: #a7b0ba;
    height: 1px;
}
.copyright{
    margin: 20px 0;
}
footer{
    font-size: 14px;
}
.social{
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #eef2f6;
    color: #a7b0ba;
    border-radius: 50%;
    align-items: center;
    margin: 20px 0;
    justify-content: center;

}
footer a{
    color: #a7b0ba;
    font-size: 14px;
}